mixin phones(className)
	div(class=className + ' phones')
		div(class='phones__item')
			a(href='tel:8 (919) 60-09-424' class='phones__link') 8 (919) 60-09-424
		div(class='phones__item')
			a(href='tel:8 (917) 74-24-444' class='phones__link')  8 (917) 74-24-444
