include /modules/blocks/form/form.pug

mixin modal()
	//- .overlay.overlay-modal.box-hidden
	.popup.shadow-block.box-hidden(id="popup-call")
		span.popup__close-btn.popup-close
		.popup__title-wrap.section-title-wrap
			h2.section-title Обратный звонок
			p.section-descr Оставьте свои данные, и мы перезвоним #[br] Вам в течение 15 минут

		+form('popup')


	.popup.popup-agree.shadow-block.box-hidden(id="popup-agree")
		span.popup__close-btn.popup-close
		p.
			Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от 27.07.2006 года свободно, своей 	волей и в своем интересе выражаю свое безусловное согласие на обработку моих персональных данных , зарегистрированным в соответствии с законодательством РФ по адресу:
			(далее по тексту - Оператор).
			Персональные данные - любая информация, относящаяся к определенному или определяемому на основании такой информации физическому лицу. Настоящее Согласие выдано мною на обработку следующих персональных данных:
			- Имя;
			- Телефон.
			- Электронная почта.
		p.
			Согласие дано Оператору для совершения следующих действий с моими персональными данными с использованием средств автоматизации и/или без использования таких средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, а также осуществление любых иных действий, предусмотренных действующим законодательством РФ как неавтоматизированными, так и автоматизированными способами.
		p.
			Данное согласие дается Оператору для обработки моих персональных данных в следующих целях:
			- предоставление мне услуг/работ;
			- направление в мой адрес уведомлений, касающихся предоставляемых услуг/работ;
			- подготовка и направление ответов на мои запросы;
			- направление в мой адрес информации, в том числе рекламной, о мероприятиях/товарах/услугах/работах Оператора.
		p.
			Настоящее согласие действует до момента его отзыва путем направления соответствующего уведомления на наш электронный адрес. В случае отзыва мною согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без моего согласия при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №152-ФЗ «О персональных данных» от 27.06.2006 г.

	.popup.popup-success.shadow-block.box-hidden
		span.popup__close-btn.popup-close
		.popup__title-wrap.section-title-wrap
			h2.section-title Заявка успешно отправлена!
			p.section-descr Наш менеджер свяжется с Вами в течение 15 минут.
