mixin preloader()
	.preloader.preloader-page
		.preloader__load.body-hidden-elem
			span.preloader__dot.preloader__dot_1
			span.preloader__dot.preloader__dot_2
			span.preloader__dot.preloader__dot_3
