section(class="stock" id="stock")
	.container
		.stock__row.section-row
			.stock__info.section-col
				.stock__title-wrap
					h2.section-title Расскажите о нас друзьям и знакомым и получите 5000 руб. за каждого пришедшего от Вас клиента*
					p.stock__info-descr А также вас ждет приятная  скидка на повторное обращение в наше агентство!
				.stock__info-small-text * Предварительно необходимо уведомить о клиенте по телефону или  в WhatsApp  по номеру 8 (919) 60-09-424)
			.stock__img-wrap.section-col
				img.stock__img(src="img/stock/stock_img.png" alt="Сертификат 5000 рублей")



