mixin social(className)
	div(class=className + " social")
		a(href="#" class="social__link")
			include /resources/img/icons/vk.svg
		a(href="#" class="social__link")
			include /resources/img/icons/instagram.svg





